body {
    background-color: #fff3e3; /* колір фону сторінки */
    font-family: Arial, sans-serif; /* шрифт */
    margin: 0; /* зняти відступи */
    padding: 0; /* зняти відступи */
}


button {
    background-color: #ffa45d; /* колір фону кнопки */
    color: #fff; /* колір тексту кнопки */
    border: none; /* видалити рамку кнопки */
    padding: 10px 20px; /* відступи внутрішнього контенту кнопки */
    font-size: 16px; /* розмір тексту кнопки */
    cursor: pointer; /* змінити вигляд курсору при наведенні на кнопку */
    border-radius: 5px; /* закруглені кути кнопки */
    display: block; /* розміщення кнопки в рядок */
    width: 150px; /* ширина кнопки */
}

.bg-orange {
    background-color: #ffcdac;
}

.navbar-brand {
    color: #fff;
}

.nav-link {
    color: #FFFCF5;
}

.form-group, div {
    color: #5d5e59;
}