<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.username.label }} {{ form.username(size=20) }}
    {{ form.name.label }} {{ form.name(size=20) }}
    {{ form.surname.label }} {{ form.surname(size=20) }}
    {{ form.email.label }} {{ form.email(size=20) }}
    {{ form.age.label }} {{ form.age(size=20) }}
    {{ form.password.label }} {{ form.password(size=20) }}
    {{ form.confirm_password.label }} {{ form.confirm_password(size=20) }}
    {{ form.submit.label }} {{ form.submit(size=20) }}
</form>

</body>
</html>